
body{
    background: linear-gradient(to right, #00ccff, #d2afe9);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  li {
    float: left;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .log{
    margin-left: 900%;
  }
  .sign{
    margin-left: 45rem;
  }

