.container{
    display: flex;
    flex-direction:column;
    gap:10px;

}
.container label{
    font-weight: 700;
    font-size: 1rem;
    color:#4b4b4b;

}
.container input{
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    padding: 10px 30px;
    color: black;
    gap:10px;
}
.container input:hover{
    border-color: #ccc;

}
.container input:focus{
    border-color: purple;
}

